nav, nav.bootstrap{
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    background: #333;
    padding: 20px 40px;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

    nav.bootstrap{
         width: 100% !important;
    }

nav>a{
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

    nav>a:hover{
        color: #FFFFFF;
        text-decoration: underline;
        margin-right: 20px;
    }
    nav>a:first-child{
        font-size: 1.5em;
        font-weight: 800;
        margin-right: 40px;
    }
        nav>a:first-child:hover{
            text-decoration: none;
        }

/* Tablette */
@media screen and (max-width:800px){
    nav>a:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px
    }
}